@import "./../../styles/respon.module.scss";

.Linko{
    grid-column: 1/-1;
    padding: 2.5rem 0rem 0rem 4rem;
    @include respons(phone){
        padding: 2.5rem 0rem 0rem 2rem;



    }
    &__flex{
        display: flex;
        align-items: center;
        gap: .4rem;
        font-size: 1.275rem;
        line-height: 1.45rem;
        @include respons(phone){
            font-size: 1.44rem;
            line-height: 1.45rem;
    
    
    
        }
    }
}
.span{
    // color: rgb(55 65 81 / 1);
    text-decoration-line: underline;
    // &:hover{
    //     color: rgb(92, 203, 133);

    // }
}
.svgs{
    transform: translateY(1.5px);
    // color:rgb(55 65 81 / 1);
    // &:hover{
    //     color: rgb(92, 203, 133);

    // }
}
.link{
    color:rgb(55 65 81 / 1);
    padding-right: 0rem;
    &:hover{
        color: rgb(78, 191, 120);

    }

}