.accordion{
    margin: 3rem auto;
    width: 90%;
    max-width: 110rem;



}
.item{
    background: #f0ebe1;
    margin-bottom: 5px;
    padding:1rem 1rem .5rem 1rem;
    cursor: pointer;
    border:1px solid rgb(209 213 219 / 1);
    background-color: rgb(249 250 251 / 1);
    background-color: rgb(255 255 255 / 1);

}
.title{
    color: #85662b;
    user-select: none;
    padding-left: 2rem;

    display: flex;
    justify-content: space-between;
    
    align-items: center;
    color: rgb(75 85 99 / 1);
    background-color: rgb(229 231 235 /1);
    font-size: 1.3rem;
    transition: all 1s cubic-bezier(0,1,0,1);


}
.content{
    // color:#8b7f75;
    max-height: 0;
    margin-top: 1.4rem;
    color: rgb(107 114 128 /1);
    width: 100%;
    font-size: 1.275rem;
    line-height: 1.55rem;
    margin-bottom: 1rem;
  
    overflow: hidden;
    background-color: rgb(255 255 255 /1);
    transition: all 1s cubic-bezier(0,1,0,1);

}
.show{
    height: auto;
    max-height: 9999px;
    background-color: rgb(255 255 255 /0);
    transition: all 1s cubic-bezier(0,1,0,1);




}
.span{
    padding-right: 2rem;
}
.h2{
    font-size: 1.4rem;
    line-height: 1rem;
    font-family: 'Nunito';
}